:root {
    --main-color : black;
    --secondary-color : grey;
}

body {
    background-color: var(--main-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header, footer {
    background-color: var(--secondary-color);
    color: rgb(255, 255, 255);
    text-align: center;
}

footer {
    background-color: var(--secondary-color);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h1 {
text-align: center;
font-size: 50px;
}

h2 {
    text-align: center;
    color: white;
    position: fixed;
    left: 850px;
    top: 150px;
}

nav {
   position: absolute; 
   top: 55px;
   right: 40px;
   font-size: 20px;
}

nav ul li a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

li{
    list-style: none;
}

section{
    color: white;
    text-align: center;
}

.blogs {
    background-color: var(--secondary-color);
    color: var(--main-color);
}

form {
    background-color: var(--secondary-color);
    padding: 30px;
    border: 1px solid var(--main-color);
    border-radius: 35px;
    width: 400px;
    text-align: left;
    margin: 0 auto;
    position: fixed;
    top: 250px;
    right: 700px;
    }

    label{
        font-weight: 700;
        line-height: 1.75
    }
    
    input[type="text"]{
    padding: 10px;
    width: 100%;
    border: 3px solid var(--main-color);
    border-radius: 10px;
    margin: 0px 0px 30px;
    }
    
    input[type="submit"] {
        background-color:var(--main-color);
        color: white;
        padding: 10px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        width: 150px;
      }

    
    input[type="reset"] {
      background-color:var(--main-color);
      color: white;
      padding: 10px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      width: 150px;
      
    }
    
    input[type="submit"]:hover {
      background-color:dimgray;
    }
  
    input[type="reset"]:hover {
      background-color:dimgray;
    }

    input[type="file"]{
        padding: 10px;
        width: 100%;
        border: 3px solid var(--main-color);
        border-radius: 10px;
        margin: 0px 0px 30px;
        }
  
   .flex-container {
      display: flex;
      justify-content: center;
      flex-direction: row;
      
   }

   @media only screen and (max-width: 600px) {
    header, footer {
        padding: 10px;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    section {
        padding: 10px;
        margin: 10px;
    }
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 10px;
}